.margin {
  margin-bottom: 40px;
}

.btnBlock {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}

.datePicker {
  display: flex;
  align-items: center;
}

.confetti {
  display: flex;
  justify-content: center;
}

.absolute {
  position: absolute;
}

.right {
  right: 0;
}
